@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap");

:root {
  --main_bg: hsl(222, 26%, 31%);
  --toggle_keypad_bg: hsl(223, 31%, 20%);
  --screen_bg: hsl(224, 36%, 15%);

  --key_bg: hsl(30, 25%, 89%);
  --key_shadow: hsl(28, 16%, 65%);

  --equal_bg: hsl(6, 63%, 50%);
  --equal_shadow: hsl(6, 70%, 34%);

  --dell_bg: hsl(225, 21%, 49%);
  --dell_shadow: hsl(224, 28%, 35%);

  --head_txt: hsl(0, 0%, 100%);
  --btns_txt: hsl(221, 14%, 31%);
  --dell_res_txt: hsl(0, 0%, 100%);
  --equal_txt: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--main_bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 17px;
  text-align: center;
  font-weight: 300;
  padding: 10px;
  color: var(--head_txt);

  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.attribution a {
  color: var(--equal_bg);
  text-decoration: none;
  cursor: pointer;

  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  color: var(--head_txt);

  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.theme {
  display: flex;
  align-items: flex-end;
}

.theme > span {
  font-size: 0.4em;
  margin: 0 20px 2px 0;
}

.theme-btn {
  display: flex;
  flex-direction: column;
}

.toggle-btn {
  flex-grow: 1;
  background-color: var(--toggle_keypad_bg);
  padding: 3px;
  height: 21px;
  width: 60px;
  border-radius: 50px;
  position: relative;

  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.click1,
.click2,
.click3 {
  background-color: white;
  opacity: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;

  transition: opacity 0.3s ease-in-out;
}

.click1 {
  left: 3px;
}

.click2 {
  right: 50%;
  transform: translateX(50%);
}

.click3 {
  right: 3px;
}

.click1:hover,
.click2:hover,
.click3:hover {
  opacity: 0.2;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--equal_bg);
  position: absolute;
  left: 3px;
  transform: translateX(0);

  transition-property: left, transform, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.numbers {
  flex-grow: 1;
  font-size: 0.3em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}

.screen {
  height: 92px;
  background-color: var(--screen_bg);
  padding: 20px 0 10px;
  margin: 30px 0 20px;
  border-radius: 7px;
  text-align: end;
  color: var(--head_txt);
  overflow: hidden;
  position: relative;

  transition-property: background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.last-val {
  position: absolute;
  right: 20px;
  font-size: 0.5em;
  opacity: 0.4;
  display: none;
}

.new-val {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1em;
  display: block;
}

.btns {
  flex-grow: 1;
  background-color: var(--toggle_keypad_bg);
  padding: 15px;
  border-radius: 7px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.btn {
  box-sizing: content-box;
  background-color: var(--key_bg);
  color: var(--btns_txt);
  box-shadow: 0 4px var(--key_shadow);
  font-size: 0.8em;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.btn:active {
  box-shadow: 0 0 var(--key_shadow);
  transform: translateY(4px);
}

.btn-del {
  font-size: 0.5em;
  padding: 15px;
  background-color: var(--dell_bg);
  color: var(--dell_res_txt);
  box-shadow: 0 4px var(--dell_shadow);

  transition-property: background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.btn-del:active {
  box-shadow: 0 0 var(--key_shadow);
  transform: translateY(4px);
}

.btn-reset {
  font-size: 0.5em;
  padding: 15px;
  background-color: var(--dell_bg);
  color: var(--dell_res_txt);
  box-shadow: 0 4px var(--dell_shadow);
  grid-column: 1/3;

  transition-property: border-color, background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.btn-reset:active {
  box-shadow: 0 0 var(--dell_shadow);
  transform: translateY(4px);
}

.btn-equal {
  background-color: var(--equal_bg);
  color: var(--equal_txt);
  box-shadow: 0 4px var(--equal_shadow);
  grid-column: 3/5;

  transition-property: border-color, background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.btn-equal:active {
  box-shadow: 0 0 var(--equal_shadow);
  transform: translateY(4px);
}
